set (autostart ${PLUGIN_APPCLIFECYCLEMANAGER_AUTOSTART})
set (preconditions Platform)
set (callsign "AppcLifecycleManager")

if(PLUGIN_APPCLIFECYCLEMANAGER_STARTUPORDER)
set (startuporder ${PLUGIN_APPCLIFECYCLEMANAGER_STARTUPORDER})

endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_APPCLIFECYCLEMANAGERTEST_MODE})
       kv(locator libAppcLifecycleManagerTest.so)
   end()
end()
ans(configuration)
