
set (autostart ${PLUGIN_APPCLIFECYCLEMANAGER_AUTOSTART})
set (preconditions Platform)
set (callsign "AppCLifecycleManager")

if(PLUGIN_APPCLIFECYCLEMANAGER_STARTUPORDER)
set (startuporder ${PLUGIN_APPCLIFECYCLEMANAGER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_APPCLIFECYCLEMANAGER_MODE})
       kv(locator libAppCLifecycleManager.so)
   end()
end()
ans(configuration)
