{
    "appname": "fireboltreferenceplayer",
    "configuration": {
        "options": [
            {
                "key": "enableAAMPSubtitles",
                "value": "false"
            },
            {
                "key": "headless",
                "value": "true"
            },
            {
                "key": "enableAAMP",
                "value": "true"
            },
            {
                "key": "disableWebSecurity",
                "value": "false"
            },
            {
                "key" : "fireboltUserAgent",
                "value" : "true"
	    } 
        ],
        "envs": [
            {
                "key": "MSE_MAX_BUFFER_SIZE",
                "value": "audio:2m,video:15m,text:1m"
            },
            {
                "key": "WPE_POLL_MAX_MEMORY",
                "value": "databaseprocess:50m,networkprocess:50m,webprocess:200m,rpcprocess:50m"
            },
            {
                "key": "AAMP_ENABLE_OPT_OVERRIDE",
                "value": "true"
            },
            {
                "key": "AAMP_ENABLE_WESTEROS_SINK",
                "value": "1"
            },
            {
                "key": "ENABLE_FOG_OPT_OVERRIDE",
                "value": "1"
            },
            {
                "key": "WESTEROS_SINK_VIRTUAL_WIDTH",
                "value": "1920"
            },
            {
                "key": "WESTEROS_SINK_VIRTUAL_HEIGHT",
                "value": "1080"
            },
            {
                "key": "GST_HWAVSYNC",
                "value": "0"
            },
            {
                "key": "GST_PLAYERSINKBIN_DELAY",
                "value": ":800000000"
            }
        ]
    }
}
