
set (autostart ${PLUGIN_GSTREAMERPLAYER_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.GStreamerPlayer")

if(PLUGIN_GSTREAMERPLAYER_STARTUPORDER)
set (startuporder ${PLUGIN_GSTREAMERPLAYER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_GSTREAMERPLAYER_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)
